* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shadows Into Light Two", cursive;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 22vh 1fr;
  gap: 20px;
  justify-content: center;
  align-items: flex-end;
  font-size: 23px;
}

.bg {
  background: url("./bg.jpg") no-repeat center bottom/cover;
  height: 100vh;
  width: -webkit-fill-available;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.movie-search-wrapper,
button {
  width: 600px;
}

button:hover {
  background-color: -internal-light-dark(#efefef8e, #3b3b3b8e);
  cursor: pointer;
}

.movie-search-wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  appearance: textfield;
  background-color: #ffffff;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(#767676, #858585);
  overflow: hidden;
}

input,
label {
  background: unset;
  border: unset;
}

input,
button,
label {
  font-size: 25px;
  padding: 6px;
}

input {
  width: 100%;
  background: none;
}

:focus {
  outline: #575757a1 auto 1px;
}

.movie-card {
  align-self: flex-start;
  border: #323232;
  border-radius: 15px;
  background: #ffffff62;
  width: 600px;
  overflow: hidden;
  display: block;
  margin: 10px auto;
}

.card-link {
  color: unset;
  text-decoration: unset;
}

.img-container,
.info-wrapper {
  padding: 15px;
}

.img-container {
  padding-bottom: 0;
  text-align: center;
  margin-bottom: -8px;
}

.poster {
  height: 60vh;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

a {
  color: #074423;
  font-weight: 600;
}

h1 {
  height: 78px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  font-size: 40px;
}

.info-wrapper {
  background: #ffffff73;
  height: max-content;
}

.hidden {
  visibility: hidden;
}

.errorMessage {
  color: #ad2239;
  font-size: 22px;
}

.title {
  font-size: 18px;
  opacity: 0.65;
}

.rating-img {
  height: 30px;
}

.rating-box {
  display: grid;
  grid-template-rows: max-content 1fr;
  width: calc(570px / 3);
}

.rating-box > div {
  font-size: 19px;
}

.rating-wrapper {
  display: flex;
}
