body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  width: 70vh;
  height: 70vh;
  border-radius: 50%;
  border: slateblue 10px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  position: relative;
}

.hour,
.minute,
.second {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 33vh;
  width: 0;
  border: 1.5px solid #222222;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  transform-origin: bottom;
  transition: transform linear 1s;
}

.hour {
  transform: rotate(0deg);
}

.minute {
  transform: rotate(0deg);
}

.second {
  transform: rotate(0deg);
  border-color: orange;
}
