.box {
  background: orange;
  border: 1px solid black;
  margin: 20px;
  animation: 6s linear 1s 1 normal forwards boxAnim;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes boxAnim {
  16.7% {
    transform: scaleX(1);
  }
  83.3% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
