div,
button {
  font-size: 30px;
  display: flex;
  gap: 10px;
  margin: 20px;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.number {
  width: 50px;
}
