body {
  background: #262626;
  color: #f2f2f3;
  display: flex;
  font-family: 'Barlow', sans-serif;
}
main {
  width: 75%;
  padding: 5px;
}
#name {
  color: #3fe1ce;
  font-weight: 900;
}
#work {
  color: #e7c892;
  font-weight: 700;
}
.side {
  width: 25%;
}
#profile-pic {
  width: 100%;
  max-width: 190px;
  border-radius: 5px;
}
